/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-height: fit-content;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}

h1 {
  padding-top: 10%;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px #808080;
}

.btn {
  display: flex;
  justify-content: center;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #ff3a3a;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  background-color: #d63030;
  transform: scale(1.05);
}

.song-playing {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.song-playing-container {
  display: inline-block;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.song-playing video {
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.song-details {
  margin-top: 20px;
  text-align: center;
}

.but {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff3a3a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.but:hover {
  background-color: #d63030;
}

.but:focus {
  outline: none;
  box-shadow: 0 0 0 2px #d63030;
}

.but:active {
  background-color: #d63030;
}

h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 3rem;
}

.song {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  margin: 2%;
  margin-left: 100px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  max-width: 300px;
  padding: 2rem;
  border-radius: 5%;
}

.song:hover {
  transform: translateY(-10px);
}

.song h3, .song p {
  text-align: left;
  color: white;
}

.song img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.slideshow{
  max-width: 500px;
  position: relative;
  margin: auto;
}

.artist {
  display: none;
  margin: 2%;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  max-width: 500px;
  padding: 2rem;
  background-color: #808080;
  border-radius: 5%;
}

.artist:hover {
  transform: translateY(-10px);
}

.artist img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.artist h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
}

.artist p {
  color: #888;
  margin-top: 10px;
}

.fade{
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: #888;
  font-size: 14px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  h1 {
      font-size: 2rem;
      padding-top: 5%;
  }

  .btn {
      margin: 0 auto;
      padding: 1rem 2rem;
      font-size: 1rem;
  }

  .song {
      margin: 4%;
  }

  .song img {
      width: 150px;
      height: 150px;
  }

  .song h3 {
      font-size: 18px;
  }

  .artist {
      margin: 2%;
  }

  .artist img {
      width: 150px;
      height: 150px;
  }

  .artist h3 {
      font-size: 18px;
  }

  .song-playing-container {
    display: grid;
  }

  .song-playing video {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
  }

  .song-details h2{
    font-size: 24px;
  }

  .song-details h3{
    font-size: 18px;
  }
}
